<!-- Content -->
<div class="content-area py-1">
	<div class="container-fluid">
		<h4>ثبت ادخالات اجناس</h4>
		<ol class="breadcrumb no-bg mb-1">
			<li class="breadcrumb-item"><a href="index.html">خانه</a></li>
			<li class="breadcrumb-item"><a href="/goods-management">مدیریت جنسی</a></li>
			<li class="breadcrumb-item active">ثبت ادخالات اجناس</li>
		</ol>

		<div class="box box-block bg-white">
			<h5 style="text-align: center;"> ثبت ادخالات اجناس در گدام </h5>
			<br>

			<form action="/goods-management/add-entries" method="POST">
				<br>

				<h5>فورم ثبت ادخالات اجناس</h5>
				<div class="form-group row">

					<label for=" example-text-input1" class="col-md-1 col-form-label">انتخاب جنس</label>

					<div class="col-md-3
					<% if(typeof errors!== undefined){
							errors.forEach(error=>{
								if(error.name==='goods_fk'){%>
					has-danger
					<%} }) } %>
					">
						<select name="goods_fk" class="form-control">
							<option value="" class="active">انتخاب جنس</option>
							<% goods.forEach(element => { %>
							<option value="<%= element.id %>"><%= element.name %></option>
							<% }); %>

						</select>
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
				if(error.name==='goods_fk'){%>
						<div class="form-control-feedback">
							<%= error.message %>
						</div>
						<%} }) } %>
					</div>

					<label for="example-text-input1" class="col-md-1 col-form-label"> مقدار و یا تعداد جنس</label>

					<div class="col-md-3 <% if(typeof errors!== undefined){
					errors.forEach(error=>{
						if(error.name==='quantity'){%>
							has-danger
							<%} }) } %>">
						<input class="form-control mb-1" type="number" min="0" value="0" name="quantity"
							id="example-text-input1">
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
				if(error.name==='quantity'){%>
						<div class="form-control-feedback">
							<%= error.message %>
						</div>
						<%} }) } %>
					</div>

					<label for="example-text-input1" class="col-md-1 col-form-label">قیمت جنس</label>

					<div class="col-md-3 <% if(typeof errors!== undefined){
						errors.forEach(error=>{
						if(error.name==='price'){%>
						has-danger
						<%} }) } %>">
						<input class="form-control mb-1" type="number" min="0" value="0" name="price"
							id="example-text-input1" step=".01" required>
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='price'){%>
						<div class="form-control-feedback">
							<%= error.message %>
						</div>
						<%} }) } %>
					</div>
				</div>


				<div class="form-group row">

					<label for="example-text-input1" class="col-md-1 col-form-label"> حواله وارده</label>
					<div class="col-md-3<% if(typeof errors!== undefined){
						errors.forEach(error=>{
						if(error.name==='numDoc'){%>
						has-danger
						<%} }) } %>">

						<select name="numDoc" class="form-control">
							<% entryDocument.forEach(entry => { %>
							<option value="<%= entry %> "><%=entry%></option>
							<%})%>
						</select>

						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='numDoc'){%>
						<div class="form-control-feedback">
							<%= error.message %>
						</div>
						<%} }) } %>
					</div>


					<label for="example-text-input1" class="col-md-1 col-form-label">از جایکه اخذ شده</label>
					<div class="col-md-3 <% if(typeof errors!== undefined){
					errors.forEach(error=>{
						if(error.name==='placeFromRecieved'){%>
						has-danger
						<%} }) } %>">
						<input class="form-control mb-1" type="text" placeholder="از جاییکه اخذ شده"
							name="placeFromRecieved" id="example-text-input1">
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
						if(error.name==='placeFromRecieved'){%>
						<div class="form-control-feedback">
							<%= error.message %>
						</div>
						<%} }) } %>
					</div>


					<label for="example-text-input1" class="col-md-1 col-form-label">تاریخ </label>
					<div class="col-md-3 <% if(typeof errors!== undefined){
					errors.forEach(error=>{
						if(error.name==='dates'){%>
						has-danger
						<%} }) } %>">
						<input type="tel" class="form-control" id="hijri-date-input" name="dates" autocomplete="off"
							pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">

						<!-- <input class="form-control mb-1" type="text" placeholder="01/21/2022" name="dates"
					id="example-text-input1"> -->
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
						if(error.name==='dates'){%>
						<div class="form-control-feedback">
							<%= error.message %>
						</div>
						<%} }) } %>
					</div>
				</div>

				<div class="form-group row">


					<label for="example-text-input1" class="col-md-1 col-form-label">نام کتاب </label>
					<div class="col-md-3 <% if(typeof errors!== undefined){
					errors.forEach(error=>{
						if(error.name==='nameBook'){%>
						has-danger
						<%} }) } %>">
						<select name="nameBook" class="form-control">
							<% bookName.forEach(b => { %>
							<option value="<%= b %> "><%=b%></option>
							<%})%>
						</select>
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
						if(error.name==='nameBook'){%>
						<div class="form-control-feedback">
							<%= error.message %>
						</div>
						<%} }) } %>
					</div>

					<label for="example-text-input1" class="col-md-1 col-form-label">جلد کتاب</label>
					<div class="col-md-3 <% if(typeof errors!== undefined){
					errors.forEach(error=>{
						if(error.name==='skin'){%>
						has-danger
						<%} }) } %>">
						<select name="skin" class="form-control">
							<% skin.forEach(s => { %>
							<option value="<%= s %> "><%=s%></option>
							<%})%>
						</select>

						<% if(typeof errors!==undefined){ errors.forEach(error=>{
						if(error.name==='skin'){%>
						<div class="form-control-feedback">
							<%= error.message %>
						</div>
						<%} }) } %>
					</div>


					<label for="example-text-input1" class="col-md-1 col-form-label">صفحه کتاب</label>
					<div class="col-md-3<% if(typeof errors!== undefined){
						errors.forEach(error=>{
						if(error.name==='page'){%>
						has-danger
						<%} }) } %>">
						<select name="page" class="form-control">
							<% page.forEach(p => { %>
							<option value="<%= p %> "><%=p%></option>
							<%})%>
						</select>
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='page'){%>
						<div class="form-control-feedback">
							<%= error.message %>
						</div>
						<%} }) } %>
					</div>



				</div>

				<div class="form-group row">


					<label for="example-text-input1" class="col-md-1 col-form-label">سال کتاب</label>
					<div class="col-md-3 <% if(typeof errors!== undefined){
					errors.forEach(error=>{
						if(error.name==='year'){%>
						has-danger
						<%} }) } %>">
						<select name="year" class="form-control">
							<% year.forEach(y => { %>
							<option value="<%= y %> "><%=y%></option>
							<%})%>
						</select>
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
						if(error.name==='year'){%>
						<div class="form-control-feedback">
							<%= error.message %>
						</div>
						<%} }) } %>
					</div>

					<label for="example-text-input1" class="col-md-1 col-form-label">ملاحضات</label>
					<div class="col-md-7<% if(typeof errors!== undefined){
						errors.forEach(error=>{
						if(error.name==='considration'){%>
						has-danger
						<%} }) } %>">
						<input class="form-control mb-1" type="text" placeholder="ملاحضات" name="considration"
							id="example-text-input1">
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='considration'){%>
						<div class="form-control-feedback">
							<%= error.message %>
						</div>
						<%} }) } %>
					</div>
				</div>
				<div class="form-group row">
					<label for="example-number-input" class="col-md-1 col-form-label">ذخیره کردن</label>
					<div class="col-md-3">
						<button type="submit" class="btn btn-primary">ذخیره</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>