<!-- table -->
<!-- Content -->
<div class="content-area py-1">
    <div class="container-fluid">
        <!-- <h4>نمایش لیست حواله صادره</h4>
        <ol class="breadcrumb no-bg mb-1">
            <li class="breadcrumb-item"><a href="index.html">خانه</a></li>
            <li class="breadcrumb-item"><a href="/goods-management">مدیریت جنسی</a></li>
            <li class="breadcrumb-item active">نمایش لیست حواله صادره</li>
        </ol> -->

        <% if(exportDocument.length>0){ %>
        <div class="box box-block bg-white">
            <table class="table table-striped table-bordered dataTable" id="table-2">
                <thead>
                    <tr>
                        <th>شماره</th>
                        <th>نمبرمسلسل</th>
                        <th>تاریخ حواله</th>
                        <th>تاریخ صدور حواله</th>
                        <th>مرسل الیه</th>
                        <th>مرجع</th>
                        <th>خلاصه حواله</th>
                        <% if(user.position!=="آمر لیلیه" ){ %>
                        <th>نمایش</th>
                        <%}%>

                    </tr>
                </thead>
                <tbody>
                    <%let i=1%>
                        <% for(let exportD of exportDocument){ %>
                    <tr>
                        <td> <%=i++%></td>
                        <td>
                            <%=exportD.docSequenceNum %>
                        </td>
                        <td>
                            <%=exportD.docDate %>
                        </td>
                        <td>
                            <%= exportD.docExportDate %>
                        </td>
                        <td>
                            <%= exportD.from %>
                        </td>
                        <td>
                            <%= exportD.to %>
                        </td>
                        <td>
                            <%= exportD.summary %>
                        </td>
                        <% if(user.position!=="آمر لیلیه" ){ %>
                        <td>
                            <a href="/goods-management/show-oneExportDocument/<%=exportD._id %>" id="show_student">
                                <span class="fa fa-eye"></span>
                            </a>
                        </td>
                        <%}%>                       
        
                    </tr>
                    <% } %>
                        </tbody>
            </table>
        </div>


        <% }else{ %>
        <div class="m-2">
            <h2 class="center">در حال حاضر هیج حواله صادره ثبت نشد</h2>
        </div>
        <% } %>
    </div>
</div>