<!-- Content -->
<div class="content-area py-1">
	<div class="container-fluid">
		<h4>ویرایش کردن محصل</h4>
		<ol class="breadcrumb no-bg mb-1">
			<li class="breadcrumb-item"><a href="/">خانه</a></li>
			<li class="breadcrumb-item"><a href="/office-management">مدیریت اداری</a></li>
			<li class="breadcrumb-item active">ویرایش کردن محصل</li>
		</ol>
		<div class="box box-block bg-white">
			<h5 style="text-align: center;">ویرایش کردن محصل</h5>
			<span class="col-xs-1"></span>
			<img src="/img/student_imgs/<%= student.photo %>"  alt="تصویر محصل" width="70px">
			<br>

			<form action="/office-management/edit-student/<%= student.id %> " method="POST"
				enctype="multipart/form-data">
				<br>
				<div class="form-group row">
					<input type="hidden" name="studentId" value="<%= student.studentId%>">
					<label for="example-text-input1" class="col-xs-1 col-form-label">نام</label>
					<div class="col-xs-5<% if(typeof errors!== undefined){
						errors.forEach(error=>{
							if(error.name==='name'){%>
								has-danger
						<%} }) } %>">
						<input class="form-control" type="text" name="name" value="<%= student.name%>"
							id="example-text-input1">
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='name'){%>
							<div class="form-control-feedback">
								<%= error.message %>
							</div>
							<%} }) } %>
					</div>
					<label for="example-text-input12" class="col-xs-1 col-form-label">نام
						پدر</label>
					<div class="col-xs-5<% if(typeof errors!== undefined){
                    errors.forEach(error=>{
                        if(error.name==='fName'){%>
                            has-danger
                    <%} }) } %>">
						<input class="form-control" type="text" name="fName" value="<%= student.fName%>"
							id="example-text-input2">
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='fName'){%>
							<div class="form-control-feedback">
								<%= error.message %>
							</div>
							<%} }) } %>
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input3" class="col-xs-1 col-form-label">نام پدر
						کلان</label>
					<div class="col-xs-5<% if(typeof errors!== undefined){
                    errors.forEach(error=>{
                        if(error.name==='gFName'){%>
                            has-danger
                    <%} }) } %>">
						<input class="form-control" type="text" name="gFName" value="<%= student.gFName%>"
							id="example-text-input3">
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='gFName'){%>
							<div class="form-control-feedback">
								<%= error.message %>
							</div>
							<%} }) } %>
					</div>
					<label for="example-text-input4" class="col-xs-1 col-form-label">صنف</label>
					<div class="col-xs-5<% if(typeof errors!== undefined){
                    errors.forEach(error=>{
                        if(error.name==='classroom'){%>
                            has-danger
                    <%} }) } %>">
						<input class="form-control" type="text" name="classroom" value="<%= student.classroom%>"
							id="example-text-input4">
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='classroom'){%>
							<div class="form-control-feedback">
								<%= error.message %>
							</div>
							<%} }) } %>
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input12" class="col-xs-1 col-form-label"> پوهنحی</label>
					<div class="col-xs-5<% if(typeof errors!== undefined){
                    errors.forEach(error=>{
                        if(error.name==='faculty'){%>
                            has-danger
                    <%} }) } %>">
						<select class="form-control mb-1" name="faculty" required>
							<option value="کمپیوتر ساینس">کمپیوتر ساینس</option>
							<option value="ساختمانی">ساختمانی</option>
							<option value="ساختمان هایی تراسپورتی">ساختمان هایی تراسپورتی</option>
							<option value="الکترو میخانیک">الکترو میخانیک</option>
							<option value="انجنیری جیوماتیک و کدستر">انجنیری جیوماتیک و کدستر</option>
							<option value="انجنیری منابع آب و محیط زیست">انجنیری منابع آب و محیط زیست</option>
							<option value="جیولوژی و معادن">جیولوژی و معادن</option>
							<option value="تکنالوژی کیمیاوی">تکنالوژی کیمیاوی</option>
						</select>
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='faculty'){%>
							<div class="form-control-feedback">
								<%= error.message %>
							</div>
							<%} }) } %>
					</div>
					

					<label for="example-text-input6" class="col-xs-1 col-form-label">دیپارتمنت</label>
					<div class="col-xs-5<% if(typeof errors!== undefined){
                    errors.forEach(error=>{
                        if(error.name==='department'){%>
                            has-danger
                    <%} }) } %>">
						<input class="form-control" type="text" name="department" value="<%= student.department%>"
							id="example-text-input6">
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='department'){%>
							<div class="form-control-feedback">
								<%= error.message %>
							</div>
							<%} }) } %>
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input7" class="col-xs-1 col-form-label">ولایت</label>
					<div class="col-xs-5<% if(typeof errors!== undefined){
                    errors.forEach(error=>{
                        if(error.name==='province'){%>
                            has-danger
                    <%} }) } %>">
						<input class="form-control" type="text" name="province" value="<%= student.province%>"
							id="example-text-input7">
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='province'){%>
							<div class="form-control-feedback">
								<%= error.message %>
							</div>
							<%} }) } %>
					</div>
					<label for="example-text-input8" class="col-xs-1 col-form-label">ولسوالی</label>
					<div class="col-xs-5<% if(typeof errors!== undefined){
                    errors.forEach(error=>{
                        if(error.name==='destrict'){%>
                            has-danger
                    <%} }) } %>">
						<input class="form-control" type="text" name="destrict" value="<%= student.destrict%>"
							id="example-text-input8">
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='destrict'){%>
							<div class="form-control-feedback">
								<%= error.message %>
							</div>
							<%} }) } %>
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input9" class="col-xs-1 col-form-label">نمبر
						تذکره</label>
					<div class="col-xs-5<% if(typeof errors!== undefined){
                    errors.forEach(error=>{
                        if(error.name==='tazkiraNum'){%>
                            has-danger
                    <%} }) } %>">
						<input class="form-control" type="text" name="tazkiraNum" value="<%= student.tazkiraNum%>"
							id="example-text-input9">
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='tazkiraNum'){%>
							<div class="form-control-feedback">
								<%= error.message %>
							</div>
							<%} }) } %>
					</div>
					<label for="example-text-input10" class="col-xs-1 col-form-label">نمبر
						تلفون</label>
					<div class="col-xs-5<% if(typeof errors!== undefined){
                    errors.forEach(error=>{
                        if(error.name==='phonNum'){%>
                            has-danger
                    <%} }) } %>">
						<input class="form-control" type="text" name="phonNum" value="<%= student.phonNum%>"
							id="example-text-input10">
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='phonNum'){%>
							<div class="form-control-feedback">
								<%= error.message %>
							</div>
							<%} }) } %>
					</div>
				</div>
				<div class="form-group row">
					<label for="example-text-input12" class="col-xs-1 col-form-label">اپلود
						تصویر</label>
					<div class="col-xs-5<% if(typeof errors!== undefined){
                    errors.forEach(error=>{
                        if(error.name==='photo'){%>
                            has-danger
                    <%} }) } %>">
						<label class="custom-file">
							<input type="file" id="file" name="photo" class="custom-file-input form-control"
								value="<%= student.photo%>">
							<span class="custom-file-control"></span>
							<% if(typeof errors!==undefined){ errors.forEach(error=>{
								if(error.name==='photo'){%>
								<div class="form-control-feedback">
									<%= error.message %>
								</div>
								<%} }) } %>
						</label>
					</div>
					<label for="example-text-input12" class="col-xs-1 col-form-label">کوایف محصل
					</label>
					<div class="col-xs-5<% if(typeof errors!== undefined){
                    errors.forEach(error=>{
                        if(error.name==='kawayef'){%>
                            has-danger
                    <%} }) } %>">
						<select class="form-control mb-1" name="kawayef">
							<option value="exist" <%if(student.kawayef==="exist" ){%>selected<% } %> >برحال </option>
							<option value="hanging" <%if(student.kawayef==="hanging" ){%>selected<% } %>>تعجیل گرفته
							</option>
							<option value="graduated" <%if(student.kawayef==="graduated" ){%>selected<% } %>> فارغ شده
							</option>
							<option value="suspension" <%if(student.kawayef==="suspension" ){%>selected<% } %>> تعلیق
									شده</option>
							<option value="uderPercent" <%if(student.kawayef==="uderPercent" ){%>selected<% } %>>زیر
									فیصدی
							</option>
							<option value="repeatSemester" <%if(student.kawayef==="repeatSemester" ){%>selected<% } %>
									>تکرار سمستر
							</option>
						</select>
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='kawayef'){%>
							<div class="form-control-feedback">
								<%= error.message %>
							</div>
							<%} }) } %>
					</div>
				</div>

				<div class="form-group row ">
					<label for="example-text-input12" class="col-xs-1 col-form-label"> نام کتاب</label>
					<div class="col-xs-5<% if(typeof errors!== undefined){
                    errors.forEach(error=>{
                        if(error.name==='bookName'){%>
                            has-danger
                    <%} }) } %>">
						<select class="form-control mb-1" name="bookName" required>
							<% books.forEach(book=> { %>
								<option value="<%= book._id %>"<% if( student.book_fk.bookName === book.bookName){ %>selected<% } %>>
									کتاب <%= book.bookName %> بلاک <%= book.blockNum %> منزل <%= book.floorNum %> جلد <%= book.year %>
								</option>
								<%});%>
						</select>
						<% if(typeof errors!==undefined){ errors.forEach(error=>{
							if(error.name==='bookName'){%>
							<div class="form-control-feedback">
								<%= error.message %>
							</div>
							<%} }) } %>
					</div>
					
				</div>
				
				<div class="form-group row">
					

					<div class="form-group row">
					</div>

					<div class="form-group row">
						<label for="example-number-input" class="col-xs-1 col-form-label">ویرایش نمودن</label>
						<div class="col-xs-11">
							<button type="submit" class="btn btn-primary">ویرایش</button>
						</div>
					</div>
			</form>
		</div>
	</div>
</div>